@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

<!-- Nome,Valor Quantidade-->

<form method="post" action="/Produto/Cadastrar">
    <div class="form-group">
        <p>
            <label>
                Digite o nome do produto:
                <input type="text" name="nome" class="form-control"/>
            </label>
        </p>
    </div>
    <div class="form-group">
        <p>
            <label>
                Digite o valor do produto:
                <input type="text" name="valor" class="form-control" />
            </label>
        </p>
    </div>
    <div class="form-group">
        <p>
            <label>
                Digite a quantidade do produto:
                <input type="text" name="quantidade" class="form-control"/>
            </label>
        </p>
    </div>

        <p>
            <input type="submit" value="Enviar" class="btn btn-primary" />
        </p>


</form>

