@model List<Fiap.Exemplo01.MVC.Web.Models.Produto>

@{
    ViewBag.Title = "Listar";
}

<h2>.:Listar:.</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Nome</td>
                <td> @produto.Quantidade</td>
                <td>@produto.Valor</td>
            </tr>
        }
    </tbody>
</table>
